<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172857493806-u0ecpu3m8u3emr4m414cme85fupuak6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172857493806-u0ecpu3m8u3emr4m414cme85fupuak6i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>172857493806-oj9ji4fg8h4h0p7uvthnb84jqelst0sp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQo0T2IfE0gn8xjzpfFuU1vJKbeqaRSUM</string>
	<key>GCM_SENDER_ID</key>
	<string>172857493806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.immidev.hiringtask</string>
	<key>PROJECT_ID</key>
	<string>bladder-bud</string>
	<key>STORAGE_BUCKET</key>
	<string>bladder-bud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172857493806:ios:91e31bf884b510c81d52bf</string>
</dict>
</plist>